// Video styles - Card type
/////////////////////////////////
////////////////////////////////


.video-list__wrapper {
    width: 100%;
    margin-top: 20px;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.video-list__card {
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.video-list__card__video-wrapper {
    position: relative;
    display: block;

    width: 26%;
    height: auto;
    padding-bottom: 12%;


    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
    }
}

.video-list__card__title-wrapper {
    width: 35%;
    margin-left: 20px;
    padding: 10px 0;

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    text-align: left;
    line-height: 18px;
}

.video-list__card__title {
    font-size: 16px;
    font-weight: 600;
}

.video-list__card__subtitle {
    font-size: 14px;
    color: rgba(23, 23, 25, 0.3);
}