// Video styles - Card type
/////////////////////////////////
////////////////////////////////


.video-grid__wrapper {
    width: 100%;
    margin-top: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.video-grid__card {
    width: calc((100%/3) - 11px - 0.01px);


    margin-bottom: 20px;

    &:nth-child(3n+2) {
        margin-right: 16px;
        margin-left: 16px;
    }

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.video-grid__card__video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: auto;
    content: "";
    display: block;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
    }
}

.video-grid__card__title-wrapper {
    width: 100%;
    margin-top: 10px;

    text-align: left;
    line-height: 18px;
}

.video-grid__card__title {
    font-size: 14px;
    font-weight: 600;
}

.video-grid__card__subtitle {
    font-size: 14px;
    color: rgba(23, 23, 25, 0.3);
}